// Specific CSS for your home-page

body {
  font-family: "Arial", serif;
}
h1 {
  font-family: "Noto Sans JP", sans-serif;
  font-family: "Texturina", serif;
  margin-bottom: 20px;
}

.deco {
  text-decoration: none;
  font-weight: bold;
  border-radius: 2px;
  padding: 5px;
  font-family: "Noto Sans JP", sans-serif;
  font-family: "Texturina", serif;
}

.des-gps {
  font-size: 12px;
  margin: auto;
  padding: 2px;
  font-weight: bold;
  letter-spacing: 1.5px;
  color: #393939;
}

p {
  color: whitesmoke;
}

label {
  display: none;
}
.des-gps {
  h5 {
    color: #393939;
  }
}
