// Specific CSS for your home-page

body {
  font-family: "Arial", serif;

}
h1 {
  font-family: "Noto Sans JP", sans-serif;
  font-family: "Texturina", serif;
  margin-bottom: 20px;
}



.deco {

  text-decoration: none;
  color: white;
  font-weight: bold;
  text-shadow: 1.5px 1.5px 1.5px saddlebrown;
  background-color: rgba(33, 33, 33, 0.2);
  border-radius: 2px;
  padding: 5px;
  font-family: "arial", sans-serif;

}

.des-gps {
  font-size: 12px;
  background-color: rgba(33, 33, 33, 0.2);
  margin:auto;
  padding: 2px;
  font-weight: bold;
  letter-spacing: 1.5px;
}

p {
  color: whitesmoke;
}

label {
  display: none;
}

