// Specific CSS for your home-page

body {
  font-family: "Source Serif Pro", serif;
  background-color: #fff1e1;
}
h1 {
  font-family: "Noto Sans JP", sans-serif;
  font-family: "Texturina", serif;
  margin-bottom: 20px;
}

.deco {
  -webkit-text-stroke: 0.3px white;
  text-decoration: none;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 2px saddlebrown;
  background-color: rgba(33, 33, 33, 0.3);
  border-radius: 10px;
  padding: 5px;
}

.des-gps {
  font-size: 12px;
  background-color: rgba(33, 33, 33, 0.5);
  margin:auto;

  font-weight: bold;
  letter-spacing: 1.5px;
}

p {
  color: whitesmoke;
}

label {
  display: none;
}

