<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.7)), url(https://media-cdn.tripadvisor.com/media/photo-s/0e/cc/0a/dc/restaurant-chocolat.jpg);">
  <div class="container text-center pb-5 ">
    <div class="row">
      <h1>Réservez, Commandez, Dégustez</h1>
    </div>
    <br>
    <p class="text-center">Votre app pour choisir, commander, et régler dans vos restaurants préférés</p>
  </div>
</div>



