<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://media-cdn.tripadvisor.com/media/photo-s/0e/cc/0a/dc/restaurant-chocolat.jpg);">
    <div class="container text-center">
      <h1><strong></strong></h1>
      <p> </p>
    </div>
  </div>



