<footer class="page-footer font-small cyan darken-3 sm-12>
  <!-- Footer Elements -->
  <div class="container text-center">
    <!-- Grid row-->
    <div class="row">
      <!-- Grid column -->
      <div class="col-12 col-lg-6 py-5">
        <div class="mb-5 flex-center">
          <!-- Facebook -->
          <a class="fb-ic">
            <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x" style="color:#1d3c45"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x" style="color:#1d3c45"> </i>
          </a>
          <!--Pinterest-->
          <a class="pin-ic">
            <i class="fab fa-pinterest fa-lg white-text fa-2x" style="color:#1d3c45"></i>
          </a>
        </div style="color:#333333" >
         by team MVC©
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row-->
  </div>
  <!-- Footer Elements -->
  <!-- Copyright -->
  <!-- Copyright -->
</footer>
