
            <div class="container-fluide">
                <div class="text-center">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <div class="card">
                                
                
                                    <h1>Votre commande</h1>
                                    <div class="columns">
                                        <% @orders.each do |order| %>
                                        <%= order.meal.meal_name %>
                                        <%= order.meal.price %>€
                                        <% #link_to 'show', order_path(order) %>
                                        <% #link_to 'Destroy', order_path(order),method: :delete, data: { confirm: 'Are you sure?' } %>
                                    
                                        <% end %>
                                        <h2 class="border-top">total<p><%= @total %>€</p></h2>
                                    </div> 
                                
                            </div>
                        </div>
                    
                    </div>
                </div>
            </div>
                        