<h1 class="text-center"><%= @restaurant.name %></h1>

<div class="row d-flex">
  <% @tables.each do |table| %>
  <div class="col">
    <div class="card" style="width: 13rem;">
      <div class="card-body table">
        <h5 class="card-title title">Table <%=table.table_number%></h5>
        <p class="card-text" style="height: 6rem;"></p>
        <div class="resa">
        <a class="card-title"><%= link_to "Réserver", table_reservations_path(table), method: :post, remote: true%></a>
        </div>
      </div>
    </div>
  </div>
  <% end %>
<div class="container">
    <a class="fixed-bottom panier text-center" href="/">HOME</a>
  </div>
</div>
