<h1>Restaurants#show</h1>
<p>Find me in app/views/restaurants/show.html.erb</p>
<div class="container-fluid">
   <div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1><%#= link_to "Choose a new table", restaurant_tables_path(@restaurant) %></h1>

      <h3>Add a new table</h3>
  <%= simple_form_for [restaurant, table] do |f| %>
  <%#= f.association :tables, input_html: { class: "beautiful-dropdown" }, include_hidden: false %>
  <%= f.input :table_number %>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>

      <%#= simple_form_for @table do |f| %>
        <%#= f.input :table_number %>
        <%#= f.button :submit, class: 'btn btn-primary' %>
      <%# end %>
    </div>
  </div>
</div>
<%#= table.restaurant.name %>
<h1> <%#= @restaurants.name %> </h1>
<h6> <%#= @restaurants.address %> </h6>
