.btn-dark {
  white-space: nowrap;
  border-radius: 12px;
  background-color: #d2601a;
}

.btn-light {
  white-space: nowrap;
  border-radius: 12px;
  background-color: #393939;
  font-size: 0.8em;
  letter-spacing: 5px;
  color: whitesmoke;
  position: relative;
  top: 107px;
  left: -35px;
}

.btn-gradient {
  color: white;
  padding: 8px 60px;
  border-radius: 4px;
  font-weight: bold;
  background-color: #d2601a;
  transition: background 0.3s ease;
  border: 1px solid #0f60c4;
}
