.btn-dark {
  white-space: nowrap;
  border-radius: 12px;
  background-color: #d2601a;
}

.btn-light {
  white-space: nowrap;
  border-radius: 12px;
  background-color: #393939;
  font-size: 0.6em;
  letter-spacing: 3px;
  color:whitesmoke;
  position: relative;
  top: -28px;
  left: 55px;
}
