.btn-dark {
  white-space: nowrap;
  border-radius: 20px;
  background-color: #d2601a;
}

.btn-light {
  white-space: nowrap;
  border-radius: 20px;
  background-color: white;
  color: #1d3c45;
  font-size: 1.5em;
  letter-spacing: 3px;
}
