.card-show-table {
  background-color: whitesmoke;
  padding: 0.25rem 0.25rem;
  color: #c5a090;
  margin-bottom: 20px;
  border-radius: 6px;
  box-shadow: 0.2px 0.2px 0.2px 0.2px rgba(33, 33, 33, 0.7);
  position: relative;
  border: 1px;
  p {
    color: #393939;
  }
}

#photo-resto {
  background: linear-gradient(
    rgba(100, 100, 100, 0.3),
    rgba(100, 100, 100, 0.3)
  );
  width: 100%;
  height: 200px;
}

.container-fluid h2 {
  background-color: white;
  border-radius: 6px;
}

#nav-img {
  width: 100%;
  height: 200px;
}

.card-menu {
  background-color: #e9ecef;
}

.card {
  padding: 0.25rem 0.25rem;
  background-color: whitesmoke;
  color: #d2601a;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0.1px 0.1px 0.2px 0.2px rgba(200, 200, 200, 0.7);
  position: relative;
  border: 0.2px;
}
.row {
  display: flex;
  justify-content: space-around;
  margin-top: 71px;
}

.card-footer:last-child {
  border-radius: 6px;
  padding: 3px;
}
// img {
//   width: 100%;
//   height: 200px;
//   opacity: 1;
// }

.card-footer {
  background-color: whitesmoke;
  // padding: 0.25rem 0.25rem;
  position: relative;
}

.card-descript {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem 1.25rem;
  height: 100%;
}

.card p {
  color: white;
}

.card-body {
  padding: 0.75rem 0.25rem;
}

.btn-reserv {
  position: relative;
  top: 0px;
  left: 0px;
}

.food-type {
  padding: 15px;
  border-top: double 1px;
  background-color: whitesmoke;
}

.food-type p {
  color: #1d3c45;
}

.font-size-home-pages {
  font-size: 0.5rem;
}

#u {
  margin-bottom: 16px;
}

img {
  background-size: auto;
}
