.card {
  padding: 5px;
  background-color: #1d3c45;
  color: #d2601a;
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: 8px 8px 10px 2px rgba(0, 0, 255, 0.2);
}
.row {
  display: flex;
  justify-content: space-around;
  margin-top: 71px;
}

// img {
//   width: 100%;
//   height: 200px;
//   opacity: 1;
// }

.card-footer {
  border-radius: 20px;
  padding: 0.75rem 0.25rem;
  position: relative;
}

.card-descript {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.75rem 1.25rem;
  height: 100%;
}

.card p {
  color: white;
}

.card-body {
  padding: 0.75rem 0.25rem;
}

.btn-reserv {
  position: relative;
  top: 0px;
  left: 0px;
}

.food-type {
  padding: 10px;
  border: 1px dotted;
}

.font-size-home-pages {
  font-size: 0.5rem;
}

#u {
  margin-bottom: 16px;
}
