.panier {
  background: rgba(33, 33, 33, 0.9);
  color:white;
  height: 40px;
  width: 80%;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
  display: table;
  font-family: 'Baloo Bhaina 2', cursive;
  font-family: 'Balsamiq Sans', cursive;
}
