// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";



img {
  width: 100%;
  height: 60px;
  border-radius: 25px;
}

.table-id a {
  color:#fff1e1;
}


a {
  color:#1d3c45 ;
  text-decoration: none;
}

a:hover {
  color:#1d3c45 ;
  text-decoration: none;
  transition: 0.2s ease-out;
  color: #d2601A;

}

.card-text a {
  color:#1d3c45 ;
  text-decoration: none;
}

.card-text a:hover {
  color:#1d3c45 ;
  text-decoration: none;
}

footer {
  background: linear-gradient(0.70turn, #d2601A, #d2601A, #FFFFFF);
}
