// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import 'mapbox-gl/dist/mapbox-gl';
@import '@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder';

// Your CSS partials
@import "components/index";
@import "pages/index";




h6 {
color: #393939;
}


#anchor-entree {
color: #393939;
}

#anchor-plats {
color: #393939;
}

#anchor-dessert {
color: #393939;
}

#anchor-boissons {
color: #393939;
}

.table-show p {
  color: rgba(33, 33, 33, 0.9);
}

.table-show h1 {
  color: rgba(33, 33, 33, 0.9);
}
.table-show h3 {
  color: rgba(33, 33, 33, 0.9);
}

.table-show img {
  background:linear-gradient(rgba(100, 100, 100, 0.3), rgba(100, 100, 100, 0.3));
  object-fit: cover;
  height: 200px;
}

.dropdown-menu {
  background: linear-gradient(0.70turn, #FFFFFF, #fff1e1, #FFFFFF);
}

* {
  font-family: arial;
}

.flash {
  border: solid;
  border-radius: 6px;
  background-color:#000000;
  font-family: 'Baloo Bhaina 2', cursive;
  font-family: 'Balsamiq Sans', cursive;
  font-weight: bold;
  top: 10%;
  left: 0;
  padding: 40px 80px;
  position: relative;
  color: #d2601A;
}


img {
  width: 100%;
  height: 60px;
  border-radius: 6px;
}

.table-id a {
  color:#fff1e1;
}


a {
  color:#393939 ;
  text-decoration: none;
}

a:hover {
  color:#393939;
  text-decoration: none;
  transition: 0.2s ease-out;
  color: #d2601A;

}

.card-text a {
  color:white;
  text-decoration: none;
}

.card-text a:hover {
  color:#393939 ;
  text-decoration: none;
}


